{% extends ':default/admin:base.html.twig' %}

{% block title %}{% if titleContent is defined %}{{ titleContent }}{% else %}Админ панель{% endif %}{% endblock %}

{% block content_header %}
        <h1>
            Фонд русской народной и православной культуры
        </h1>
{% endblock %}

{% block content %}{% endblock %}
